<div class="row top_buffer_54">
	<div class="col-md-12">
		<%= image_tag 'bookbird_logo.png', width: '180px', class: 'center-block' %>
		<%= image_tag 'bookbird_text.svg', width: '180px', class: 'center-block' %>
		<p class="lead text-center"><%= raw t('.welcome') %></p>
	</div>
</div>
